<br>
<h2>Pedidos de Troca Cadastrados</h2>
<table class="table">
	<thead>
		<tr class="p-3 mb-2 bg-info text-white">
			<th scope="col">#</th>
			<th scope="col">ID Cliente</th>
			<th scope="col">Preço</th>
			<th scope="col">Progresso</th>
			<th scope="col">Status</th>
		</tr>
	</thead>
	<tbody>
		<tr class="item-pedido-troca" *ngFor="let pedido of pedidos">
			<th scope="row" *ngIf="pedido.id_transacao >= 5">{{pedido.id}}</th>
			<td *ngIf="pedido.id_transacao >= 5">{{pedido.id_cliente}}</td>
			<td *ngIf="pedido.id_transacao >= 5">{{pedido.total_compra | currency: 'BRL': true}}</td>
			<td *ngIf="pedido.id_transacao >= 5">
				<div *ngIf="pedido.id_transacao == 5" class="progress">
					<div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50"
						aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div *ngIf="pedido.id_transacao == 6 || pedido.id_transacao == 7" class="progress">
					<div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
						aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</td>
			<td *ngIf="pedido.id_transacao >= 5">
				<div *ngIf="pedido.id_transacao == 5">
					<select class="custom-select mr-sm-2" id="sequencia"
						(change)="andamentoPedido(pedido, $event.target.value)">
						<option disabled selected>Troca</option>
						<option value="autorizado">Autorizar Troca</option>
						<option value="recusado">Recusar Troca</option>
					</select>
				</div>
				<div *ngIf="pedido.id_transacao == 6">
					<button disabled="disabled" class="btn btn-success btn-block">Troca Autorizada</button>
				</div>
				<div *ngIf="pedido.id_transacao == 7">
					<button disabled="disabled" class="btn btn-danger btn-block">Troca Recusada</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>