<br>
<h4>Filmes Cadastrados</h4>
<table class="table">
	<thead>
		<tr class="p-3 mb-2 bg-info text-white">
			<th scope="col">#</th>
			<th scope="col">Nome</th>
			<th scope="col">Código de barras</th>
			<th scope="col">Ano de lançamento</th>
			<th scope="col">Situação</th>
			<th scope="col">Opções</th>
		</tr>
	</thead>
	<tbody>
		<tr class="item-filme" *ngFor="let filme of filmes">
			<th scope="row">{{filme.id}}</th>
			<td>{{filme.nome}}</td>
			<td>{{filme.codigo_barras}}</td>
			<td>{{filme.ano}}</td>
			<td>{{filme.status ? 'ativo' : 'inativo'}}</td>
			<td>
				<button class="btn btn-outline-info" routerLink="/altera-filme/{{filme.id}}">
					Alterar Filme
				</button>
				<button class="btn btn-outline-secondary" routerLink="/altera-filme/{{filme.id}}">
					Detalhes Filme
				</button>
				<button class="btn btn-outline-danger" type="submit" (click)="deleteMovie(filme)">
					<a class="item-filme-delete">Deletar Filme</a>
				</button>
			</td>
		</tr>
	</tbody>
</table>