<br>
<div class="login-form-head">
	<h2>Cadastro de Cliente</h2>
	<h5>Insira os dados do Cliente!</h5>
	<br>
</div>
<div class="login-form-body">
	<form [formGroup]="form" (submit)="onSubmit()">
		<div class="form-group row">
			<label for="nome" class="col-sm-2 col-form-label">Nome do Cliente*</label>
			<div class="col-sm-10">
				<input required class="form-control" type="text" id="nome" name="nome" formControlName="nome"
					placeholder="Nome do Cliente" maxlength="40"
					[ngClass]=" { 'is-invalid': submitted && hasError('nome') } ">
			</div>
		</div>

		<div class="form-group row">
			<label for="cpf" class="col-sm-2 col-form-label">CPF*</label>
			<div class="col-sm-10">
				<input required class="form-control" type="text" id="cpf" name="cpf" formControlName="cpf"
					placeholder="CPF: XXX.XXX.XXX-XX" maxlength="14"
					[ngClass]=" { 'is-invalid': submitted && hasError('cpf') } ">
			</div>
		</div>

		<div class="form-group row">
			<label for="dataNascimento" class="col-sm-2 col-form-label">Data Nascimento*</label>
			<div class="col-sm-10">
				<input required class="form-control" type="text" id="dataNascimento" name="dataNascimento"
					formControlName="dataNascimento" placeholder="YYYY-MM-DD"
					[ngClass]=" { 'is-invalid': submitted && hasError('dataNascimento') } ">
			</div>
		</div>

		<div class="form-group row">
			<label for="email" class="col-sm-2 col-form-label">Email*</label>
			<div class="col-sm-10">
				<input required class="form-control" type="text" id="email" name="email" formControlName="email"
					placeholder="exemplo@email.com" [ngClass]=" { 'is-invalid': submitted && hasError('email') } ">
			</div>
		</div>

		<div class="form-group row">
			<label for="senha" class="col-sm-2 col-form-label">Senha*</label>
			<div class="col-sm-10">
				<input required class="form-control" type="password" id="senha" name="senha" formControlName="senha"
					placeholder="123456Te@" maxlength="20"
					[ngClass]=" { 'is-invalid': submitted && hasError('senha') } ">
			</div>
		</div>

		<div class="form-group row">
			<label for="genero" class="col-sm-2 col-form-label">Gênero*</label>
			<div class="col-sm-10">
				<select class="custom-select mr-sm-2" id="genero" formControlName="genero"
					[ngClass]=" { 'is-invalid': submitted && hasError('genero') } ">
					<option value="" selected>Selecione um gênero</option>
					<option value="M">Masculino</option>
					<option value="F">Feminino</option>
				</select>
			</div>
		</div>

		<div class="form-group row">
			<label for="telefone" class="col-sm-2 col-form-label">Telefone*</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="telefone" name="telefone" placeholder="99999-9999"
					formControlName="telefone" [ngClass]=" { 'is-invalid': submitted && hasError('telefone') } ">
			</div>
		</div>

		<br>
		<h2>Cadastro de Endereco</h2>
		<h5>Insira os dados do Endereço!</h5>
		<br>

		<div class="form-group row">
			<label for="idCidade" class="col-sm-2 col-form-label">Cidade*</label>
			<div class="col-sm-10">
				<select class="custom-select mr-sm-2" id="idCidade" formControlName="idCidade"
					[ngClass]=" { 'is-invalid': submitted && hasError('idCidade') } ">
					<option value="" selected>Selecione sua Cidade</option>
					<option value="1">Mogi das Cruzes</option>
					<option value="2">Suzano</option>
					<option value="3">São Paulo</option>
					<option value="4">Poa</option>
				</select>
			</div>
		</div>

		<div class="form-group row">
			<label for="logradouro" class="col-sm-2 col-form-label">Logradouro*</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="logradouro" name="logradouro"
					placeholder="Insira o nome de sua Rua" formControlName="logradouro"
					[ngClass]=" { 'is-invalid': submitted && hasError('logradouro') } ">
			</div>
		</div>

		<div class="form-group row">
			<label for="numero" class="col-sm-2 col-form-label">Número*</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="numero" name="numero"
					placeholder="Insira o numero de sua casa" formControlName="numero"
					[ngClass]=" { 'is-invalid': submitted && hasError('numero') } ">
			</div>
		</div>

		<div class="form-group row">
			<label for="bairro" class="col-sm-2 col-form-label">Bairro*</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="bairro" name="bairro"
					placeholder="Insira o nome do seu Bairro" formControlName="bairro"
					[ngClass]=" { 'is-invalid': submitted && hasError('bairro') } ">
			</div>
		</div>

		<div class="form-group row">
			<label for="cep" class="col-sm-2 col-form-label">CEP*</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="cep" name="cep" placeholder="CEP: 99999-999"
					formControlName="cep" [ngClass]=" { 'is-invalid': submitted && hasError('cep') } ">
			</div>
		</div>

		<div class="form-group row">
			<label for="observacao" class="col-sm-2 col-form-label">Observação*</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" id="observacao" name="observacao"
					placeholder="Insira alguma informação adicional sobre o seu bairro" formControlName="observacao"
					[ngClass]=" { 'is-invalid': submitted && hasError('observacao') } ">
			</div>
		</div>

		<div class="form-control-feedback">
			<p id="mensagemErro" style="color: #FF0000; text-align: center">{{serverError}}</p>
		</div>

		<p>* - Informações obrigatórias</p>

		<button type="submit" class="btn btn-primary">Salvar</button>
		&nbsp;
		<button type="button" class="btn btn-danger">Cancelar</button>
	</form>
</div>
<br>