/* You can add global styles to this file, and also import other style files */

@import "assets/css/bootstrap.min.css";

/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

/*@import "assets/css/styles.css";

@import "assets/css/default-css.css";

@import "assets/css/bootstrap.min.css";

@import "assets/css/font-awesome.min.css";

@import "assets/css/font-awesome.min.css";

@import "assets/css/metisMenu.css";

@import "assets/css/owl.carousel.min.css";

@import "assets/css/responsive.css";

@import "assets/css/slicknav.min.css";

@import "assets/css/themify-icons.css";

@import "assets/css/typography.css";*/
