<br>
<h2>Clientes Cadastrados</h2>
<table class="table">
	<thead>
		<tr class="p-3 mb-2 bg-info text-white" >
			<th scope="col">#</th>
			<th scope="col">Nome</th>
			<th scope="col">CPF</th>
			<th scope="col">Email</th>
			<th scope="col">Situação</th>
			<th scope="col">Opções</th>
		</tr>
	</thead>
	<tbody>
		<tr class="item-cliente" *ngFor="let cliente of clientes">
			<th scope="row">{{cliente.id}}</th>
			<td>{{cliente.nome}}</td>
			<td>{{cliente.cpf}}</td>
			<td>{{cliente.email}}</td>
			<td>{{cliente.status ? 'Ativo' : 'Inativo'}}</td>
			<td>
				<!-- <button class="btn btn-outline-info" routerLink="/altera-cliente/{{cliente.id}}">
					Detalhes Cliente
				</button> -->
				<button class="btn btn-outline-info" routerLink="/altera-cliente/{{cliente.id}}" [queryParams]="{from: 'admin'}">
					Detalhes Cliente
				</button>
				<button class="btn btn-outline-danger" type="submit" (click)="deletarCliente(cliente)">
					<a class="item-cliente-delete">Deletar Cliente</a>
				</button>
			</td>
		</tr>
	</tbody>
</table>